.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

main > .container {
  padding: 60px 15px 0;
}

table .num,
table .date {
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}

table .people,
th {
  white-space: nowrap;
}

table .blog,
table .scribe,
table .minutes {
  position: relative;
  padding-left: 20px;
}
table .blog::before,
table .scribe::before,
table .minutes::before {
  position: absolute;
  left: 0;
}
table .blog::before      { content: '\1F30E' }
table .scribe::before    { content: '\270D\A0' }
table .minutes::before   { content: '\1F4DD' }
